.avail-mainContainer{
    
        
    
}


.avail-mainContainer table{
    
    table-layout: fixed;    
}

 

.avail-mainContainer td{
    
   width: 10%;   
    
}



.avail-res{
    
    background-color: red;
    
    
}